node_modules
.svelte-kit
dist
build
.vite
*.log
coverage
.env
.env.*
/*.local
public/build
/.turbo
/.parcel-cache
*.lock
# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/static/
